:root {
  --font-mono: ui-monospace, "SFMono- Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font: 'DM Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  Theme selector
*/
@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(0, 0%, 98%);
    --background: hsl(240, 10%, 3.9%);
    --border: hsl(240, 3.7%, 15.9%);
    --hover: hsl(240, 4%, 16%);
    --muted: hsl(240, 5%, 64.9%);
  }

  body:has(input:checked) {
    --text: hsl(240, 10%, 3.9%);
    --background: hsl(0, 0%, 100%);
    --border: hsl(240, 5.9%, 90%);
    --hover: hsl(240, 5%, 96%);
    --muted: hsl(240, 3.8%, 46.1%);
  }

  .theme:checked~.sun {
    display: none;
  }

  .theme:not(:checked)~.moon {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(240, 10%, 3.9%);
    --background: hsl(0, 0%, 100%);
    --border: hsl(240, 5.9%, 90%);
    --hover: hsl(240, 5%, 96%);
    --muted: hsl(240, 3.8%, 46.1%);
  }


  body:has(input:checked) {
    --text: hsl(0, 0%, 98%);
    --background: hsl(240, 10%, 3.9%);
    --border: hsl(240, 3.7%, 15.9%);
    --hover: hsl(240, 4%, 16%);
    --muted: hsl(240, 5%, 64.9%);
  }

  .theme:checked~.moon {
    display: none;
  }

  .theme:not(:checked)~.sun {
    display: none;
  }
}

/*
  Generic - resets
*/

body {
  background: var(--background);
  color: var(--text);
  box-sizing: border-box;
  margin: 0 auto;
  /* max-width: 960px; */
  position: relative;

  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  font-weight: 700;
  margin: 0.67em 0;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  opacity: 0.5;
}

h1 {
  font-size: 38px;
  line-height: 45px;
}

h2 {
  font-size: 38px;
  line-height: 42px;
}

h3 {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 1rem;
  letter-spacing: 2px;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--text);
}

img {
  border-radius: 10px;
}

svg {
  fill: var(--text);
}

/*
  Theme selector
*/
input.theme {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  position: fixed;
  left: -9999px;
}

.sun .icon {
  height: 20px;
  width: 20px;
}

.moon .icon {
  height: 20px;
  width: 20px;
}

.theme-selector {
  position: absolute;
  right: 36px;
  bottom: 0px;

  display: flex;
  place-content: center;
  align-items: center;

  border-radius: 6px;
  padding: 8px 12px;
  border: 1px solid var(--border);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  height: 24px;
  cursor: pointer;
}

.theme-selector .icon {
  display: inline-flex;
}

.theme-selector:hover {
  background: var(--hover);
  opacity: 0.8;
}

.theme-selector .icon {
  width: 16px;
  height: 16px;
}