:root {
  --color-text: hsl(210, 12%, 17%);
  --accent:#216AE0;
  --font: 'DM Mono', monospace;
  --font-heading: 'DM Mono', monospace;
}

/*
  Generic - resets
*/

html {
  font-size: 18px;
  color: var(--color-text);
  line-height: 28px;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  font-size: 1em;
  font-family: var(--font);
  font-weight: 400;
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 500;
  margin: 0.67em 0;
}

a {
  text-decoration: none;
  color:var(--color-text);
}

a:hover {
  color: var(--accent);
}

h1 {
  font-size: 33px;
  line-height: 42px;
}

h2 {
  font-size: 38px;
  line-height: 42px;
}

h3 {
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 1rem;
  letter-spacing: 2px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  border-radius: 10px;
}

/*
  Customs
*/
.container {
  margin: 20px 36px;
}

.banner-large, .banner-small {
   width: 100%;
}

.banner-large {
  display: none;
}

.contact {
  font-size: 16px;
}

.contact li {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.contact li:hover .icon {
  fill: var(--accent);
}

.contact .icon {
  margin-right: 10px;
  margin-bottom: -5px;
  height: 20px;
  width: 20px;
}

/* Small */
@media (min-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 15px;
    grid-template-rows: 80px 200px 100px 200px 1fr;
  }
  .banner-large {
    display: block;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .banner-small {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .content {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 9;
  }
  .contact {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/* Medium */
@media (min-width: 768px) {
  .container {
    grid-template-rows: 80px 200px 150px 200px 1fr;
  }
}

/* Large */
@media (min-width: 1024px) {
  .container {
    margin: 50px 36px;
    grid-template-rows: 80px 100px 100px 50px 200px 1fr ;
  }
  .content-heading {
    margin-left: -30px;
  }
  .banner-large {
    grid-row-start: 1;
    grid-column-end: 8;
  }
  .content {
    grid-row-start: 5;
    margin-bottom: 20px;
  }
  .contact {
    grid-row-start: 6;
  }
}
